body {
    background-color: #343434;
    height: 1000px;
    margin: 0;
    z-index: 0;
}

header {
    position: fixed;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.1fr repeat(8, 1fr) 0.1fr;
    grid-template-rows: 0.1fr repeat(3, 1fr) 0.1fr;
    gap: 10px 0;
    grid-template-areas:
        ". . . . . . . . . ."
        ". logo logo . login login . burger burger ."
        ". logo logo . . . . burger burger ."
        ". name name name . links links links . ."
        ". . . . . . . . . .";
    width: 100%;
    background-color: #727272;
    height: 27.5%;
    border-bottom: 5px solid #343434;
}

.logo {
    grid-area: logo;
    align-content: center;
}

.logo img {
    width: auto;
    height: 100%;
}

.name {
    grid-area: name;
}

.name h1 {
    color: white;
    font-family: "Trebuchet MS";
    font-weight: 700;
}

.links {
    grid-area: links;
}

.burger {
    grid-area: burger;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    font-size: 90%;
}

.burger ul {
    display: block;
    position: relative;
    
}

.burger ul:last-child {
    width: 70%;
    flex-basis: 90%;
}

.burger ul li {
    margin-bottom: 0;
    height: 120%;
    width: 120%;
    text-align: left;
    padding: 1em;
    list-style: none;
    background-color: #414141; 
    text-decoration: none;
}


.burger input[type='checkbox'], nav label {
    display: none;
}

.burger label {
    text-align: right;
    display: block;
    padding: 0.5em;
    line-height: 1.6em;
    align-self: center;
    font-size: 300%;
}

.burger a {
    color: #FFFFFF;
    text-decoration: none;
}

input[type='checkbox']:not(:checked)+ul {
    display: none;
}

.login {
    grid-area: login;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "header-whitespace header-whitespace header-whitespace header-whitespace header-whitespace header-whitespace header-whitespace header-whitespace header-whitespace header-whitespace"
        "header-whitespace header-whitespace header-whitespace header-whitespace header-whitespace header-whitespace header-whitespace header-whitespace header-whitespace header-whitespace"
        "welcome welcome welcome welcome . . . . . ."
        "paragraph paragraph paragraph paragraph paragraph hero-image hero-image hero-image hero-image hero-image"
        "paragraph paragraph paragraph paragraph paragraph hero-image hero-image hero-image hero-image hero-image"
        "paragraph paragraph paragraph paragraph paragraph hero-image hero-image hero-image hero-image hero-image"
        "paragraph paragraph paragraph paragraph paragraph hero-image hero-image hero-image hero-image hero-image"
        "mortgage-link mortgage-link mortgage-link mortgage-link . . . . . ."
        "footer footer footer footer footer footer footer footer footer footer"
        "footer footer footer footer footer footer footer footer footer footer";
}

.hero {
    grid-area: hero-image;
    align-content: center;
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-image: url(../imgs/Business-man.png);
    color: #343434;
    background-size: cover;
    text-align: center;
    font-size: 250%;
    font-weight: 200%;
    font-family: "Trebuchet MS";

}


.welcome {
    grid-area: welcome;
    align-content: center;
    text-align: center;
}

.welcome h2 {
    font-family: "Trebuchet MS";
    font-size: 180%;
    color: white;
}

.paragraph {
    grid-area: paragraph;
    align-content: center;
    text-align: justify;
    padding: 5%;
}

.paragraph p {
    color: white;
    font-family: "Trebuchet MS";
}

.mortgage {
    grid-area: mortgage-link;
    align-content: center;
}


a:hover {
    text-decoration: none;
}

.footer {
    grid-area: footer;
    font-size: 150%;
    padding: 0% 25%;
    font-family: "Trebuchet MS";
    text-align: justify;
    color: #FFFFFF;
    background-color: #727272;
}

.header {
    grid-area: header-whitespace;
    background-color: white;
}
